<!-- Aluno Forms -->
<div class="container py-5" *ngIf="formNovoProfessor">
    <div class="row">
        <h2 class="d-flex align-self-center justify-content-center mx-auto">{{ title }}</h2>
    </div>
    <div class="row">
        <form [formGroup]="novoProfessor" (ngSubmit)="salvar()" class="professores">
            <div class="mb-3">
                <label for="nome" class="form-label">nome:</label>
                <input type="text" id="nome" class="form-control" name="nome" formControlName="nome">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email:</label>
                <input type="text" id="email" class="form-control" name="email" formControlName="email">
            </div>
            <div class="mb-3">
                <label for="dataNascimento" class="form-label">dataNascimento:</label>
                <input type="text" id="dataNascimento" class="form-control" name="dataNascimento"
                    formControlName="dataNascimento">
            </div>
            <div class="d-flex align-self-center justify-content-center mx-auto">
                <button type="submit" class="btn btn-success m-3">Salvar aluno</button>
                <button type="button" class="btn btn-warning m-3" routerLink="/dashboard/professores">Voltar</button>
            </div>
        </form>
    </div>

</div>

<div class="container py-5" *ngIf="formAtualizarProfessor">
    <div class="row">
        <h2 class="d-flex align-self-center justify-content-center mx-auto">{{ title }}</h2>
    </div>
    <div class="row">
        <form [formGroup]="atualizarProfessor" (ngSubmit)="atualizar()" class="professores">
            <!-- <div class="d-flex align-self-center justify-content-center mx-auto">
                <p id="matricula" class="form-label" name="matricula">Matricula: {{ matricula }}</p>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="nome">nome:</label>
                <input type="text" id="nome" class="form-control" name="nome" formControlName="nome">
            </div>
            <div class="mb-3">
                <label class="form-label" for="dataNascimento">dataNascimento:</label>
                <input type="text" id="dataNascimento" class="form-control" name="dataNascimento" formControlName="dataNascimento">
            </div>
            <div class="d-flex align-self-center justify-content-center mx-auto">
                <button type="submit" class="btn btn-success m-3">Salvar aluno</button>
                <button class="btn btn-warning m-3" routerLink="/dashboard/professores">Voltar</button>
            </div>
        </form>
    </div>

</div>