<app-menu></app-menu>

<div class="container border rounded my-5">
  <div class="row py-3">
    <h2 class="d-flex align-self-center justify-content-center mx-auto">Register</h2>
  </div>
  <div class="d-flex align-items-center justify-content-center p-2">
    <form [formGroup]="register" (ngSubmit)="getRegister()" class="register">
      <div formGroupName="registerUsuarioDto">
        <div class="col-12 col-md-6 mb-3" >
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" formControlName="username">
        </div>
        <div class="col-12 col-md-6 mb-3">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" formControlName="password">
        </div>
        <div class="col-6 col-md-6 mb-3">
          <label for="role">Role:</label>
          <select id="role" class="form-select " aria-label="Default select example" formControlName="role">
            <option value="ROLE_PROFESSOR">Professor</option>
            <option value="ROLE_ALUNO">Aluno</option>
          </select>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="matricula">Matricula:</label>
        <input type="text" class="form-control" id="matricula" name="matricula" formControlName="matricula">
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" formControlName="nome">
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email" formControlName="email">
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="dataNascimento">Data Nascimento:</label>
        <input type="text" class="form-control" id="dataNascimento" name="dataNascimento"
          formControlName="dataNascimento">
      </div>
      <div class="col-12 mt-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Registrar</button>
      </div>

    </form>
  </div>

</div>