<app-menu></app-menu>
<div class="container mt-5 mb-3">
    <button class="btn btn-primary btn-sm mx-sm-1" (click)="goToCadastro()">Cadastrar Aluno</button>
</div>
<div class="container mt-5 mb-3">
    <div class="table-responsive">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th class="text-left"><strong>Matricula</strong></th>
                    <th class="text-center"><strong>Nome</strong></th>
                    <th class="text-center"><strong>E-mail</strong></th>
                    <th class="text-center"><strong>Data de Nascimento</strong></th>
                    <th class="text-center" colspan="2" width="1"><strong>Ações</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aluno of alunos">
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://avatars.githubusercontent.com/u/79222458?v=4" alt=""
                                style="width: 45px; height: 45px" class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1"></p>
                                <p class="text-muted mb-0">{{aluno.matricula}}</p>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <p class="fw-normal mb-1">{{aluno.nome}}</p>
                    </td>
                    <td class="text-center">
                        <p class="fw-normal mb-1">{{aluno.email}}</p>
                    </td>
                    <td class="text-center">
                        <p class="fw-normal mb-1">{{aluno.dataNascimento}}</p>
                    </td>
                    <td class="text-center">
                        <button type="button" routerLink="/dashboard/alunos/atualizar/{{aluno.matricula}}"
                            class="btn btn-warning btn-sm mx-sm-1" title="Editar">Editar</button>
                        <button type="button" routerLink="/dashboard/alunos/deletar/{{aluno.matricula}}"
                            class="btn btn-danger btn-sm mx-1 my-1" title="Deletar">Deletar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>